# x402 Server Algorand Testnet Configuration
AVM_ADDRESS=BWKR3HJ3SYZIJ7M73WJF6566YWEGRLJAIGMNZ2RZRY35ZYFBBJ63H24MOQ
FACILITATOR_URL=https://facilitator.goplausible.xyz
PORT=4021
ALGORAND_NETWORK=testnet
ALGORAND_NODE=https://testnet-api.algonode.cloud
ALGORAND_INDEXER=https://testnet-idx.algonode.cloud
